.cta {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 180px 0px;
    background: linear-gradient(180deg, $dark 10.42%, rgba(36, 43, 51, 0) 50.52%, $dark 90.1%),
    linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36,43,51,0.9)),
    url('./../img/main/cta/cta-bg.jpg'),#c4c4c4;


    @include mediaTablet{
        padding: 60px 0px;
    }
}


.cta__title {
    margin-bottom: 17px;
}

.cta__row {
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    

    @include mediaTablet{
        grid-template-columns: repeat(1,1fr);
    }
}
.cta__text {
    line-height: 1.5;

    P + p{
        margin-top: 1em;
    }


    @include mediaTablet{
        font-size: 14px;
        margin-bottom: 30px;
    }
}
.cta__form {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px 20px;
    align-items: center;

    @include mediaTablet{
        grid-template-columns: repeat(1,1fr);
    }
}
