.feedback {
    margin-bottom: 180px;

    @include mediaTablet{
        margin-bottom: 80px;
    }
}

.feedback__title {
    margin-bottom: 38px;
}

.feedback__form {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 35px;
    align-items: center;
    

    &--bottom{
        @include mediaTablet{
            grid-row: 1/4;
        }
    }

    @include mediaTablet{
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
}

